# Lambda Functions - Lab

## Introduction

In this lab, you'll get some hands-on practice creating and using lambda functions.

## Objectives

In this lab you will:

* Create lambda functions to use as arguments of other functions   
* Use the `.map()` or `.apply()` method to apply a function to a pandas series or DataFrame

## Lambda Functions

In [1]:
import pandas as pd
df = pd.read_csv('Yelp_Reviews.csv', index_col=0)
df.head(2)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g

## Simple arithmetic

Use a lambda function to create a new column called `'stars_squared'` by squaring the stars column.

In [2]:
# Your code here
df = pd.read_csv('Yelp_Reviews.csv', index_col=0)

# Define the lambda function to square the values
square_function = lambda x: x ** 2

# Apply the lambda function to create the new column 'stars_squared'
df['stars_squared'] = df['stars'].apply(square_function)

# Display the first few rows to verify the result
print(df.head(2))

              business_id  cool        date  funny               review_id  \
1  pomGBqfbxcqPv14c3XH-ZQ     0  2012-11-13      0  dDl8zu1vWPdKGihJrwQbpw
2  jtQARsP6P-LbkyjbO1qNGg     1  2014-10-23      1  LZp4UX5zK3e-c5ZGSeo3kA

   stars                                               text  useful  \
1      5  I love this place! My fiance And I go here atl...       0
2      1  Terrible. Dry corn bread. Rib tips were all fa...       3

                  user_id  stars_squared
1  msQe1u7Z_XuqjGoqhB0J5g             25
2  msQe1u7Z_XuqjGoqhB0J5g              1

## Dates
Select the month from the date string using a lambda function.

In [4]:
# Your code here
import pandas as pd

# Assuming 'Yelp_Reviews.csv' contains the DataFrame
df = pd.read_csv('Yelp_Reviews.csv', index_col=0)

# Convert the 'date' column to datetime format
df['date'] = pd.to_datetime(df['date'])

# Define a lambda function to extract the month
extract_month = lambda x: x.month

# Apply the lambda function to create a new column 'month'
df['month'] = df['date'].apply(extract_month)

# Display the DataFrame with the new 'month' column
print(df.head())

               business_id  cool       date  funny               review_id  \
1   pomGBqfbxcqPv14c3XH-ZQ     0 2012-11-13      0  dDl8zu1vWPdKGihJrwQbpw
2   jtQARsP6P-LbkyjbO1qNGg     1 2014-10-23      1  LZp4UX5zK3e-c5ZGSeo3kA
4   Ums3gaP2qM3W1XcA5r6SsQ     0 2014-09-05      0  jsDu6QEJHbwP2Blom1PLCA
5   vgfcTvK81oD4r50NMjU2Ag     0 2011-02-25      0  pfavA0hr3nyqO61oupj-lA
10  yFumR3CWzpfvTH2FCthvVw     0 2016-06-15      0  STiFMww2z31siPY7BWNC2g

    stars                                               text  useful  \
1       5  I love this place! My fiance And I go here atl...       0
2       1  Terrible. Dry corn bread. Rib tips were all fa...       3
4       5  Delicious healthy food. The steak is amazing. ...       0
5       1  This place sucks. The customer service is horr...       2
10      5  I have been an Emerald Club member for a numbe...       0

                   user_id  month
1   msQe1u7Z_XuqjGoqhB0J5g     11
2   msQe1u7Z_XuqjGoqhB0J5g     10
4   msQe1u7Z_XuqjGoqhB0J5g      9
5   msQe1u7Z_XuqjGoqhB0J5g      2
10  TlvV-xJhmh7LCwJYXkV-cg      6

## What is the average number of words for a yelp review?
Do this with a single line of code.

In [7]:
# Your code here
import pandas as pd

# Assuming 'Yelp_Reviews.csv' contains the DataFrame
df = pd.read_csv('Yelp_Reviews.csv', index_col=0)

# Display the column names
print(df.columns)

Index(['business_id', 'cool', 'date', 'funny', 'review_id', 'stars', 'text',
       'useful', 'user_id'],
      dtype='object')

## Create a new column for the number of words in the review

In [13]:
# Your code here
import pandas as pd

# Read the DataFrame from the CSV file
df = pd.read_csv('Yelp_Reviews.csv', index_col=0)

# Define a lambda function to count the number of words in each review
count_words = lambda x: len(x.split())

# Display the DataFrame with the new 'num_words' column
print(df.head())

               business_id  cool        date  funny               review_id  \
1   pomGBqfbxcqPv14c3XH-ZQ     0  2012-11-13      0  dDl8zu1vWPdKGihJrwQbpw
2   jtQARsP6P-LbkyjbO1qNGg     1  2014-10-23      1  LZp4UX5zK3e-c5ZGSeo3kA
4   Ums3gaP2qM3W1XcA5r6SsQ     0  2014-09-05      0  jsDu6QEJHbwP2Blom1PLCA
5   vgfcTvK81oD4r50NMjU2Ag     0  2011-02-25      0  pfavA0hr3nyqO61oupj-lA
10  yFumR3CWzpfvTH2FCthvVw     0  2016-06-15      0  STiFMww2z31siPY7BWNC2g

    stars                                               text  useful  \
1       5  I love this place! My fiance And I go here atl...       0
2       1  Terrible. Dry corn bread. Rib tips were all fa...       3
4       5  Delicious healthy food. The steak is amazing. ...       0
5       1  This place sucks. The customer service is horr...       2
10      5  I have been an Emerald Club member for a numbe...       0

                   user_id
1   msQe1u7Z_XuqjGoqhB0J5g
2   msQe1u7Z_XuqjGoqhB0J5g
4   msQe1u7Z_XuqjGoqhB0J5g
5   msQe1u7Z_XuqjGoqhB0J5g
10  TlvV-xJhmh7LCwJYXkV-cg

## Rewrite the following as a lambda function

Create a new column `'Review_Length'` by applying this lambda function to the `'Review_num_words'` column.

In [17]:
# Rewrite the following function as a lambda function
# Define the lambda function
review_length_lambda = lambda value: 'Short' if len(value) < 50 else ('Medium' if len(value) < 80 else 'Long')

# Display the DataFrame with the new column
print(df.head())

               business_id  cool        date  funny               review_id  \
1   pomGBqfbxcqPv14c3XH-ZQ     0  2012-11-13      0  dDl8zu1vWPdKGihJrwQbpw
2   jtQARsP6P-LbkyjbO1qNGg     1  2014-10-23      1  LZp4UX5zK3e-c5ZGSeo3kA
4   Ums3gaP2qM3W1XcA5r6SsQ     0  2014-09-05      0  jsDu6QEJHbwP2Blom1PLCA
5   vgfcTvK81oD4r50NMjU2Ag     0  2011-02-25      0  pfavA0hr3nyqO61oupj-lA
10  yFumR3CWzpfvTH2FCthvVw     0  2016-06-15      0  STiFMww2z31siPY7BWNC2g

    stars                                               text  useful  \
1       5  I love this place! My fiance And I go here atl...       0
2       1  Terrible. Dry corn bread. Rib tips were all fa...       3
4       5  Delicious healthy food. The steak is amazing. ...       0
5       1  This place sucks. The customer service is horr...       2
10      5  I have been an Emerald Club member for a numbe...       0

                   user_id
1   msQe1u7Z_XuqjGoqhB0J5g
2   msQe1u7Z_XuqjGoqhB0J5g
4   msQe1u7Z_XuqjGoqhB0J5g
5   msQe1u7Z_XuqjGoqhB0J5g
10  TlvV-xJhmh7LCwJYXkV-cg

## Level Up: Dates Advanced
<img src="images/world_map.png" width="600">  

Print the first five rows of the `'date'` column.

In [19]:
# Your code here
import pandas as pd

# Assuming 'df' is your DataFrame

# Print the first five rows of the 'date' column
print(df['date'].head())

1     2012-11-13
2     2014-10-23
4     2014-09-05
5     2011-02-25
10    2016-06-15
Name: date, dtype: object

Overwrite the `'date'` column by reordering the month and day from `YYYY-MM-DD` to `DD-MM-YYYY`. Try to do this using a lambda function.

In [20]:
# Your code here
import pandas as pd

# Assuming 'df' is your DataFrame

# Define a lambda function to reorder the date format
reorder_date = lambda date: pd.to_datetime(date).strftime('%d-%m-%Y')

# Apply the lambda function to the 'date' column to overwrite it
df['date'] = df['date'].apply(reorder_date)

# Print the DataFrame to verify the changes
print(df.head())

               business_id  cool        date  funny               review_id  \
1   pomGBqfbxcqPv14c3XH-ZQ     0  13-11-2012      0  dDl8zu1vWPdKGihJrwQbpw
2   jtQARsP6P-LbkyjbO1qNGg     1  23-10-2014      1  LZp4UX5zK3e-c5ZGSeo3kA
4   Ums3gaP2qM3W1XcA5r6SsQ     0  05-09-2014      0  jsDu6QEJHbwP2Blom1PLCA
5   vgfcTvK81oD4r50NMjU2Ag     0  25-02-2011      0  pfavA0hr3nyqO61oupj-lA
10  yFumR3CWzpfvTH2FCthvVw     0  15-06-2016      0  STiFMww2z31siPY7BWNC2g

    stars                                               text  useful  \
1       5  I love this place! My fiance And I go here atl...       0
2       1  Terrible. Dry corn bread. Rib tips were all fa...       3
4       5  Delicious healthy food. The steak is amazing. ...       0
5       1  This place sucks. The customer service is horr...       2
10      5  I have been an Emerald Club member for a numbe...       0

                   user_id
1   msQe1u7Z_XuqjGoqhB0J5g
2   msQe1u7Z_XuqjGoqhB0J5g
4   msQe1u7Z_XuqjGoqhB0J5g
5   msQe1u7Z_XuqjGoqhB0J5g
10  TlvV-xJhmh7LCwJYXkV-cg

## Summary

Hopefully, you're getting the hang of lambda functions now! It's important not to overuse them - it will often make more sense to define a function so that it's reusable elsewhere. But whenever you need to quickly apply some simple processing to a collection of data you have a new technique that will help you to do just that. It'll also be useful if you're reading someone else's code that happens to use lambdas.